.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Trebuchet MS";
  margin: 0 40px 15px 40px;
}
.card .under_text p {
  font-size: 13px;
  color: #fff;
}
.card .under_text p a {
  color: #1698D9;
  border-bottom: 1px dashed #1698D9;
  font-weight: 700;
  pointer-events: auto;
}
.card .under_text p i {
  color: #1698D9;
}
.card .back {
  position: relative;
  width: 320px;
  height: 480px;
  background: #1698D9;
  border-radius: 12px;
  -webkit-clip-path: polygon(13.6% 0%, 100% 0, 100% 100%, 0 100%, 0% 9%);
  clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.9%);
  pointer-events: auto;
}
.card .back .front {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 312px;
  height: 472px;
  border-radius: 8px;
  -webkit-clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.7%);
  clip-path: polygon(12.9% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.55%);
  background: url("/cat.200d3a79.png") #f2f2f2 no-repeat -28px 204px;
  background-size: 368px 360px;
  pointer-events: none;
}
.card .back .front .info {
  padding: 17px 0 0 47px;
}
.card .back .front .info h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 5px 0 0 -3px;
}
.card .back .front .info h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.card .back .front .info span {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.card .back .front .info p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.card .back .front .info p strong {
  font-weight: 700;
}
.card .back .front .circle {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  background: #1698D9;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.card .back .front .circle h1 {
  font-size: 42px;
  font-weight: normal;
  margin: 6px 0 0 0;
}
.card .back .front .circle p {
  font-size: 21px;
  margin: -7px 0 0 0;
}
.card.hover {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Trebuchet MS";
  margin: 0 40px 15px 40px;
}
.card.hover .under_text p {
  font-size: 13px;
  color: #fff;
}
.card.hover .under_text p a {
  color: #2EA8E6;
  border-bottom: 1px dashed #2EA8E6;
  font-weight: 700;
  pointer-events: auto;
}
.card.hover .under_text p i {
  color: #2EA8E6;
}
.card.hover .back {
  position: relative;
  width: 320px;
  height: 480px;
  background: #2EA8E6;
  border-radius: 12px;
  -webkit-clip-path: polygon(13.6% 0%, 100% 0, 100% 100%, 0 100%, 0% 9%);
  clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.9%);
  pointer-events: auto;
}
.card.hover .back .front {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 312px;
  height: 472px;
  border-radius: 8px;
  -webkit-clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.7%);
  clip-path: polygon(12.9% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.55%);
  background: url("/cat.200d3a79.png") #f2f2f2 no-repeat -28px 204px;
  background-size: 368px 360px;
  pointer-events: none;
}
.card.hover .back .front .info {
  padding: 17px 0 0 47px;
}
.card.hover .back .front .info h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 5px 0 0 -3px;
}
.card.hover .back .front .info h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.card.hover .back .front .info span {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.card.hover .back .front .info p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.card.hover .back .front .info p strong {
  font-weight: 700;
}
.card.hover .back .front .circle {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  background: #2EA8E6;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.card.hover .back .front .circle h1 {
  font-size: 42px;
  font-weight: normal;
  margin: 6px 0 0 0;
}
.card.hover .back .front .circle p {
  font-size: 21px;
  margin: -7px 0 0 0;
}
.card.selected {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Trebuchet MS";
  margin: 0 40px 15px 40px;
}
.card.selected .under_text p {
  font-size: 13px;
  color: #fff;
}
.card.selected .under_text p a {
  color: #D91667;
  border-bottom: 1px dashed #D91667;
  font-weight: 700;
  pointer-events: auto;
}
.card.selected .under_text p i {
  color: #D91667;
}
.card.selected .back {
  position: relative;
  width: 320px;
  height: 480px;
  background: #D91667;
  border-radius: 12px;
  -webkit-clip-path: polygon(13.6% 0%, 100% 0, 100% 100%, 0 100%, 0% 9%);
  clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.9%);
  pointer-events: auto;
}
.card.selected .back .front {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 312px;
  height: 472px;
  border-radius: 8px;
  -webkit-clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.7%);
  clip-path: polygon(12.9% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.55%);
  background: url("/cat.200d3a79.png") #f2f2f2 no-repeat -28px 204px;
  background-size: 368px 360px;
  pointer-events: none;
}
.card.selected .back .front .info {
  padding: 17px 0 0 47px;
}
.card.selected .back .front .info h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 5px 0 0 -3px;
}
.card.selected .back .front .info h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.card.selected .back .front .info span {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.card.selected .back .front .info p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.card.selected .back .front .info p strong {
  font-weight: 700;
}
.card.selected .back .front .circle {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  background: #D91667;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.card.selected .back .front .circle h1 {
  font-size: 42px;
  font-weight: normal;
  margin: 6px 0 0 0;
}
.card.selected .back .front .circle p {
  font-size: 21px;
  margin: -7px 0 0 0;
}
.card.selected.hover {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Trebuchet MS";
  margin: 0 40px 15px 40px;
}
.card.selected.hover .under_text p {
  font-size: 13px;
  color: #fff;
}
.card.selected.hover .under_text p a {
  color: #E52E7A;
  border-bottom: 1px dashed #E52E7A;
  font-weight: 700;
  pointer-events: auto;
}
.card.selected.hover .under_text p i {
  color: #E52E7A;
}
.card.selected.hover .back {
  position: relative;
  width: 320px;
  height: 480px;
  background: #E52E7A;
  border-radius: 12px;
  -webkit-clip-path: polygon(13.6% 0%, 100% 0, 100% 100%, 0 100%, 0% 9%);
  clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.9%);
  pointer-events: auto;
}
.card.selected.hover .back .front {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 312px;
  height: 472px;
  border-radius: 8px;
  -webkit-clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.7%);
  clip-path: polygon(12.9% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.55%);
  background: url("/cat.200d3a79.png") #f2f2f2 no-repeat -28px 204px;
  background-size: 368px 360px;
  pointer-events: none;
}
.card.selected.hover .back .front .info {
  padding: 17px 0 0 47px;
}
.card.selected.hover .back .front .info h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 5px 0 0 -3px;
}
.card.selected.hover .back .front .info h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.card.selected.hover .back .front .info span {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.card.selected.hover .back .front .info p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.card.selected.hover .back .front .info p strong {
  font-weight: 700;
}
.card.selected.hover .back .front .circle {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  background: #E52E7A;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.card.selected.hover .back .front .circle h1 {
  font-size: 42px;
  font-weight: normal;
  margin: 6px 0 0 0;
}
.card.selected.hover .back .front .circle p {
  font-size: 21px;
  margin: -7px 0 0 0;
}
.card.selected.hover .back .front .info span {
  color: #E52E7A;
}
.card.disabled {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Trebuchet MS";
  margin: 0 40px 15px 40px;
}
.card.disabled .under_text p {
  font-size: 13px;
  color: #fff;
}
.card.disabled .under_text p a {
  color: #B3B3B3;
  border-bottom: 1px dashed #B3B3B3;
  font-weight: 700;
  pointer-events: auto;
}
.card.disabled .under_text p i {
  color: #B3B3B3;
}
.card.disabled .back {
  position: relative;
  width: 320px;
  height: 480px;
  background: #B3B3B3;
  border-radius: 12px;
  -webkit-clip-path: polygon(13.6% 0%, 100% 0, 100% 100%, 0 100%, 0% 9%);
  clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.9%);
  pointer-events: auto;
}
.card.disabled .back .front {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 312px;
  height: 472px;
  border-radius: 8px;
  -webkit-clip-path: polygon(13.3% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.7%);
  clip-path: polygon(12.9% 0%, 100% 0, 100% 100%, 0 100%, 0% 8.55%);
  background: url("/cat.200d3a79.png") #f2f2f2 no-repeat -28px 204px;
  background-size: 368px 360px;
  pointer-events: none;
}
.card.disabled .back .front .info {
  padding: 17px 0 0 47px;
}
.card.disabled .back .front .info h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 5px 0 0 -3px;
}
.card.disabled .back .front .info h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.card.disabled .back .front .info span {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.card.disabled .back .front .info p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.card.disabled .back .front .info p strong {
  font-weight: 700;
}
.card.disabled .back .front .circle {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  background: #B3B3B3;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.card.disabled .back .front .circle h1 {
  font-size: 42px;
  font-weight: normal;
  margin: 6px 0 0 0;
}
.card.disabled .back .front .circle p {
  font-size: 21px;
  margin: -7px 0 0 0;
}
.card.disabled .back .front {
  background: linear-gradient(to bottom, rgba(225, 225, 225, 0.5) 0%, rgba(225, 225, 225, 0.5) 100%), url("/cat.200d3a79.png") #f2f2f2 no-repeat -28px 204px;
  background-size: 368px 360px;
}
.card.disabled .back .front .info {
  opacity: 0.2;
}
.card.disabled .under_text p {
  color: #FFFF66;
}
@font-face {
  font-family: "exo 2 thin";
  src: url("/Exo2-Thin.8969efab.woff2") format("woff2"), url("/Exo2-Thin.a4719574.woff") format("woff"), url("/Exo2-Thin.2966cd65.eot?") format("eot"), url("/Exo2-Thin.4a816dd8.ttf") format("truetype");
}
@font-face {
  font-family: "exo thin";
  src: url("/Exo-Thin.d9ec23dc.woff2") format("woff2"), url("/Exo-Thin.f0289fb2.eot?") format("eot"), url("/Exo-Thin.24936a84.ttf") format("truetype");
}
@font-face {
  font-family: "lato thin";
  src: url("/Lato-Thin.710076cc.woff2") format("woff2"), url("/Lato-Thin.e76d9909.woff?") format("woff"), url("/Lato-Thin.f2e145b7.ttf") format("truetype");
}
@font-face {
  font-family: "roboto thin";
  src: url("/Roboto-Thin.7f5b0c37.woff2") format("woff2");
}
body {
  font-family: "exo 2 thin", "exo thin", "lato thin", "roboto thin", sans-serif;
  background: url("/Pattern.c398e418.png") repeat;
  margin: 0;
}

.wrap {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  pointer-events: none;
}

.title {
  color: #fff;
}
.title h1 {
  font-size: 36px;
  font-weight: normal;
}

/*# sourceMappingURL=/funbox_test.e31bb0bc.css.map */